/* FAQ SECTION STLYES */

.faq-section {
  margin-top: 8rem;
}

.faq-section__para {
  text-align: center;
  width: 60%;
  margin: auto;
}

.question-container {
  padding-top: 4rem;
}

.lines {
  position: absolute;
  left: 0;
  top: 210%;
  width: 100%;
  z-index: -1;
}

.lines img {
  width: 100%;
}

@media (max-width: 770px) {
  .faq-section .small-heading {
    font-size: 2rem;
  }
  .faq-section .faq-section__para {
    font-size: 1rem;
  }
}
