/* HEADER CONTENT STLYES */
.HeaderContent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 3rem;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.left-content {
  display: flex;
  align-items: center;
}

h1 {
  font-size: 4rem;
  font-weight: 600;
}

.white {
  padding: 1.4rem 0;
  line-height: 1.8rem;
  color: white;
  max-width: 700px;
}

.right-content {
  position: relative;
  display: flex;
  justify-content: center;
}

.phone {
  width: 80%;
}

.ring1 {
  position: absolute;
  bottom: 10%;
  right: 0;
  left: auto;
}

.message1 {
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
}

.message2 {
  position: absolute;
  bottom: 15%;
  left: 0;
}

/* MOBILE STLYES */

@media (max-width: 1100px) {
  .HeaderContent {
    grid-template-columns: 1fr;
  }

  .left-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 4rem;
  }

  .left-content {
    margin: 0 auto;
  }
}

@media (max-width: 821px) {
  .HeaderContent h1 {
    font-size: 3rem;
  }
}

@media (max-width: 611px) {
  .HeaderContent h1 {
    font-size: 2rem;
  }
  .white {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .ring1,
  .message1,
  .message2 {
    height: 6rem;
    width: auto;
  }
}
