/* MESSAGE SECTION */

.message-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  padding-top: 8rem;
  justify-content: center;
  align-items: center;
}

.left-items {
  position: relative;
}

.left-items p {
  padding: 1rem 0;
}

.images-container {
  display: flex;
  align-items: center;
}

.image-1,
.image-2,
.image-3,
.image-4,
.image-5 {
  margin-left: -22px;
}

.left-items .bgCircle {
  position: absolute;
  top: -7%;
  left: -10%;
  z-index: -1;
}

.right-items {
  position: relative;
}

.right-items img {
  padding-left: 2rem;
}

.right-items .bgCircle {
  position: absolute;
  bottom: -7%;
  right: 0;
  z-index: -1;
}

@media (max-width: 1100px) {
  .message-container {
    grid-template-columns: 1fr;
    grid-gap: 5rem;
  }
  .left-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .right-items .messaging-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

@media (max-width: 775px) {
  .left-items .secondary-heading {
    font-size: 2rem;
  }
  .left-items p {
    font-size: 1rem;
  }
}
