/* NAVIGATION STLYES */
.Navigation {
  display: flex;
  justify-content: space-between;
  min-height: 10vh;
  align-items: center;
  padding: 1.5rem;
}

ul {
  display: flex;
  justify-content: space-between;
  width: 40%;
}
