/* PAYMENT SECTION STYLES */
.payment-section {
  color: purple;
  margin-top: 8rem;
}

.payment-section p {
  text-align: center;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
  padding-top: 7.4rem;
}
