:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --purple-primary: #554dde;
  --accent-pink: #f44e77;
  --neutral-light: #f2f6ff;
  --lavender-secondary: #6a6d9e; /*Primary Font Color*/
  --dark-primary: #16194f;
  --border-colour: #cab6f1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  color: var(--lavender-secondary);
  background-color: var(--neutral-light);
  color: #fff;
  font-size: 1.2rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
